<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="JS代码,其他代码,JS广告代码,JS特效代码"/>
    <title>页面迷失在星空中...</title>
    <link href="/css/jb51.net.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme .min.css">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/ecmascript"></script>

</head>
<body class="notfound">
<!-- 代码 开始 -->
<div class="wrapper">
    <div class="big">
        <p th:text="${message}">页面走丢了...</p>
    </div>
    <div>虽然页面迷失在了星空中<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但是学习的方向不能迷失<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击<a href="/">这里</a>继续努力前行吧</div>
    <div>
        <!-- 代码 结束 -->

</body>
</html>