<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/ecmascript"></script>

</head>
<body>
<div class="wrapper">
    <!--背景图片-->
    <div id="web_bg" style="background-image: url(/img/bj.jpg);"></div>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main thumbnail">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  style="border-right:1px solid #FFFFFF;">
            <h2><span th:text="${sectionName}"  style="color: #fff;"></span></h2>
            <hr>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${section =='questions'}">
                <div class="media" th:each="question : ${pagination.data}">

                    <div class="media-body">
                        <div class="media-left">
                            <a th:href="@{'question/'+ ${question.id}}">
                                <img class="media-object img-rounded"
                                     th:src="${question.user.avatarUrl}"
                                     width="65px" height="65px">
                            </a>
                        </div>
                        <div class="media-left"  style="color: #fff;">
                            <h3 class="media-heading">
                                <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                            </h3>
                            <span class="text-desc zzzzzz">
                        <span th:text="${question.commentCount}"></span> 个回复 • <span
                                    th:text="${question.viewCount}"></span> 次浏览 • <span
                                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> •
                        <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                           th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"  style="color: #fff;">编辑</span>
                    </a>
                    </span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section =='replies'}">
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading pull-left">
                            <span th:text="${notification.notifierName +' ' + notification.typeName + ' '}"  style="color: #fff;"></span>
                            <a th:href="@{'/notification/'+ ${notification.id}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.stauts == 0}">未读</span>
                            <p th:text="${#dates.format(notification.GmtCreate,'yyyy-MM-dd HH:mm')}" class="pull-right"   style="color: #fff;"></p>
                        </p>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  style="border-right:1px solid #FFFFFF;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}? 'active' : ''">
                            <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage + 1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/questions"
                   th:class="${section =='questions'}?'active list-group-item' :'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section =='replies'}?'active list-group-item' :'list-group-item'">
                    <span class="badge" th:text="${session.unreadCount}"></span>
                    最新回复</a>
            </div>
        </div>
    </div>
</div>
    <div th:insert="~{footer :: foot}"></div>
</div>
</body>
</html>