<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme .min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/ecmascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main thumbnail">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span th:text="${sectionName}"></span></h3>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="pull-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}"
                             width="65px" height="65px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span class="text-desc" style="font-size: 12px;font-weight: normal;color: #999">
                        <span th:text="${question.commentCount}"></span>个回复·
                        <span th:text="${question.viewCount}"></span>次游览·
                        <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}? 'active' : ''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}">
                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage + 1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/questions" th:class="${section =='questions'}?'active list-group-item' :'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section =='replies'}?'active list-group-item' :'list-group-item'">
                    <span class="badge">14</span>
                    最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>